name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  BIGTABLE_EMULATOR_HOST: "localhost:8086"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup GCloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.1
    - name: Start Bigtable Emulator
      run: |
        gcloud components install beta bigtable cbt
        gcloud beta emulators bigtable start --host-port ${BIGTABLE_EMULATOR_HOST} &
    - name: Seed Bigtable Emulator
      run: |
        cbt -instance dev -project emulator  createtable weather_balloons
        cbt -instance dev -project emulator  createfamily weather_balloons measurements
        cbt -instance dev -project emulator set weather_balloons us-west2#3698#2021-03-05-1200 measurements:pressure=94558@1646637317700000
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
